Repository KOA-TF/KOA-BE, pull requests merged in 2024-01, with the labels that each got.

#68 feat : 팀 매칭 기능 1
  api-module/src/main/java/com/koa/apimodule/command/api/CurriculumController.java
  api-module/src/main/java/com/koa/apimodule/command/api/TeamController.java
  common-module/src/main/java/com/koa/commonmodule/exception/Error.java
  core-module/src/main/java/com/koa/coremodule/attend/application/service/AttendGetUseCase.java
  core-module/src/main/java/com/koa/coremodule/attend/domain/service/AttendSaveService.java
  core-module/src/main/java/com/koa/coremodule/curriculum/application/dto/response/CurriculumInfoResponse.java
  core-module/src/main/java/com/koa/coremodule/curriculum/application/mapper/CurriculumMapper.java
  core-module/src/main/java/com/koa/coremodule/curriculum/application/service/CurriculumGetUseCase.java
  core-module/src/main/java/com/koa/coremodule/curriculum/domain/exception/CurriculumException.java
  core-module/src/main/java/com/koa/coremodule/curriculum/domain/exception/CurriculumNotFoundException.java
  core-module/src/main/java/com/koa/coremodule/curriculum/domain/service/CurriculumQueryService.java
  core-module/src/main/java/com/koa/coremodule/notice/application/service/NoticeGetUseCase.java
  core-module/src/main/java/com/koa/coremodule/notice/application/service/NoticeSaveUseCase.java
  core-module/src/main/java/com/koa/coremodule/notice/domain/service/NoticeQueryService.java
  core-module/src/main/java/com/koa/coremodule/team/application/dto/request/TeamCreateRequest.java
  core-module/src/main/java/com/koa/coremodule/team/application/dto/request/TeamNameChangeRequset.java
  core-module/src/main/java/com/koa/coremodule/team/application/dto/response/TeamInfoResponse.java
  core-module/src/main/java/com/koa/coremodule/team/application/mapper/TeamMapper.java
  core-module/src/main/java/com/koa/coremodule/team/application/service/TeamChangeUseCase.java
  core-module/src/main/java/com/koa/coremodule/team/application/service/TeamCreateUseCase.java
  core-module/src/main/java/com/koa/coremodule/team/application/service/TeamGetUseCase.java
  core-module/src/main/java/com/koa/coremodule/team/domain/entity/Enroll.java
  core-module/src/main/java/com/koa/coremodule/team/domain/entity/Team.java
  core-module/src/main/java/com/koa/coremodule/team/domain/exception/TeamException.java
  core-module/src/main/java/com/koa/coremodule/team/domain/exception/TeamNotFoundException.java
  core-module/src/main/java/com/koa/coremodule/team/domain/repository/EnrollRepository.java
  core-module/src/main/java/com/koa/coremodule/team/domain/repository/TeamRepository.java
  core-module/src/main/java/com/koa/coremodule/team/domain/service/EnrollQueryService.java
  core-module/src/main/java/com/koa/coremodule/team/domain/service/TeamQueryService.java
  core-module/src/main/java/com/koa/coremodule/team/domain/service/TeamSaveService.java
Labels: api

#69 Feature/attend update
  api-module/src/main/java/com/koa/apimodule/command/api/AttendController.java
  common-module/src/main/java/com/koa/commonmodule/exception/Error.java
  core-module/src/main/java/com/koa/coremodule/attend/application/dto/AttendInfo.java
  core-module/src/main/java/com/koa/coremodule/attend/application/mapper/AttendListMapper.java
  core-module/src/main/java/com/koa/coremodule/attend/application/service/AttendGetUseCase.java
  core-module/src/main/java/com/koa/coremodule/attend/domain/entity/AttendStatus.java
  core-module/src/main/java/com/koa/coremodule/attend/domain/exception/AttendException.java
  core-module/src/main/java/com/koa/coremodule/attend/domain/repository/AttendRepository.java
  core-module/src/main/java/com/koa/coremodule/attend/domain/service/AttendSaveService.java
Labels: bug, api

#72 Develop to Main
  .github/workflows/cd.yml
  .gitignore
  api-module/src/main/java/com/koa/apimodule/command/api/AlarmController.java
  common-module/src/main/java/com/koa/commonmodule/exception/Error.java
  core-module/src/main/java/com/koa/coremodule/attend/application/dto/AttendInfo.java
  core-module/src/main/java/com/koa/coremodule/attend/application/mapper/AttendListMapper.java
  core-module/src/main/java/com/koa/coremodule/attend/domain/service/AttendSaveService.java
  core-module/src/main/java/com/koa/coremodule/fcm/application/dto/AlarmLists.java
  core-module/src/main/java/com/koa/coremodule/fcm/application/service/AlarmUseCase.java
  core-module/src/main/java/com/koa/coremodule/fcm/domain/entity/Alarm.java
  core-module/src/main/java/com/koa/coremodule/fcm/domain/repository/AlarmRepository.java
  core-module/src/main/java/com/koa/coremodule/fcm/domain/service/AlarmQueryService.java
  core-module/src/main/java/com/koa/coremodule/notice/application/dto/fcm/SendCommentNotificationRequest.java
  core-module/src/main/java/com/koa/coremodule/notice/application/dto/fcm/SendNoticeNotificationRequest.java
  core-module/src/main/java/com/koa/coremodule/notice/application/dto/fcm/SendNotificationRequest.java
Labels: bug

#73 fix: gitignore files
  common-module/src/main/resources/kusitms-plus-firebase-adminsdk-krn6f-5ef95443a1.json
  docker-compose.yml
Labels: enhancement
